# Python
backend/venv/
backend/__pycache__/
*.pyc

# Environment
.env
backend/.env

# Database
*.db

# Upload files
backend/uploads/

# React
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/