fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

python-dotenv
python-multipart

pydantic

python-jose[cryptography]
passlib[argon2]
argon2-cffi

requests

google-genai

razorpay

pyswisseph

reportlab

jinja2

email-validator

PyPDF2>=3.0.1
python-docx>=1.2.0
gTTS>=2.5.1
geopy>=2.4.1